@import "./reset.scss";
@import "./variables/global.scss";

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#B993D6, #8CA6DB);
}
